<h1>Productos</h1>
<div class="entry">
{{#if productos}}
<table class="table">
    <thead>
        <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
            <tr>
                <th scope="row">{{ this.id }}</th>
                <td>{{ this.title }}</td>
                <td>{{ this.price }}</td>
                <td><img src="{{ this.url }}" alt="{{ this.title }}" width="25"></td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <br>
    <h3> No hay ningún producto agregado. </h3>
{{/if}}
</div>